@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


body{
    padding: 5%;
    background: rgb(174,179,238);
    background: radial-gradient(circle, rgba(174,179,238,1) 0%, rgba(29,41,28,1) 100%);
}


.container{
    margin: auto;
    width: 50%;
    padding: auto;
}

.container h2{
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: white;
}


.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}


a{
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid black;
    box-shadow: 2.5px 3px 10px 0.5px black;
    transition: 0.2s all;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.socials{
    display: grid !important;
}



a:hover{
    box-shadow: none;
    transform: translate(8px,8px);
}

.social-color{
    background: rgb(114,119,173);
    background: radial-gradient(circle, rgba(114,119,173,1) 100%, rgba(174,179,238,1) 100%, rgba(29,41,28,1) 100%); 
}






/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(114,119,173)   ;
    border-radius: 10px;
}
