@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/socials.webp);
    image-rendering: auto;
    font-size: 50px;
}

img{
    position:relative;
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

h1 {
    text-align: center;
    color: red;
    font-size: 30px;
}

h1::before{
    content: attr(data-text);
    position: absolute;
    color: brown;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 6s linear infinite;
    filter: drop-shadow(0 0 350px red);
    -webkit-animation: animate 6s linear infinite;
    -webkit-filter: drop-shadow(0 0 350px red);
}

@keyframes animate{
    0%
    {
        width: 0;
    }
    100%{
        width: 270;
    }
    
}

p{
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

a{
    color: rgb(78, 78, 18);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;

    text-align: center;
    text-decoration: none;
    font-size: 18px;

    border: 3px solid black;
    box-shadow: 8px 8px 0px black;
    transition: 0.2s all;

}


.socials{
    display: grid !important;
}



a:hover{
    box-shadow: none;
    transform: translate(8px,8px);
}

.purple{
    background: purple;
}
.green{
    background: green;
}
.red{
    background: red;
}
.lightgreen{
    background: lightskyblue;
}
.deepred{
    background: darkred;
}
.oraneyellow{
    background: orangered;
}

